name: Patch Kaori Framework

on:
  workflow_dispatch:
    inputs:
      link_framework:
        description: 'Link framework.jar (Bắt buộc)'
        required: true
        type: string
      link_services:
        description: 'Link services.jar (Tùy chọn)'
        required: false
        type: string
      link_miui_framework:
        description: 'Link miui-framework.jar (Tùy chọn)'
        required: false
        type: string
      link_miui_services:
        description: 'Link miui-services.jar (Tùy chọn)'
        required: false
        type: string
      opt_fix_bootloop:
        description: 'Fix Bootloop (A15)'
        required: true
        default: true
        type: boolean
      opt_patch_apk:
        description: 'Patch APK Protection'
        required: true
        default: true
        type: boolean
      opt_patch_kaori:
        description: 'Patch Kaori Features'
        required: true
        default: true
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Download JAR Files
        run: |
          download_file() {
            url="$1"
            name="$2"
            if [ -n "$url" ]; then
              echo "⬇️ Đang tải $name..."
              wget -O "$name" "$url"
            else
              echo "ℹ️ Bỏ qua $name (Không có link)"
            fi
          }

          download_file "${{ inputs.link_framework }}" "framework.jar"
          download_file "${{ inputs.link_services }}" "services.jar"
          download_file "${{ inputs.link_miui_framework }}" "miui-framework.jar"
          download_file "${{ inputs.link_miui_services }}" "miui-services.jar"

          if [ ! -f "framework.jar" ]; then
            echo "❌ Lỗi: Thiếu framework.jar!"
            exit 1
          fi

      - name: 1. Unpack Jars
        run: python unpack.py

      - name: 2. Fix Bootloop
        env:
          ENABLE_MOD: ${{ inputs.opt_fix_bootloop }}
        run: python bootloop.py

      - name: 3. Apk Protection
        env:
          ENABLE_MOD: ${{ inputs.opt_patch_apk }}
        run: python apk.py

      - name: 4. Kaori Features
        env:
          ENABLE_MOD: ${{ inputs.opt_patch_kaori }}
        run: python kaori.py

      - name: 5. Repack and Create Module
        run: python repack.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Magisk-Module-Framework
          path: Module-framework-test.zip
      - name: Send to Telegram
        if: success()
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          REPO_SLUG: ${{ github.repository }}
          BRANCH: ${{ github.ref_name }}
        run: |


          WORKFLOW_FILENAME="main.yml"
          

          ARTIFACT_NAME="Magisk-Module-Framework"
          

          NIGHTLY_URL="https://nightly.link/hzzmonetvn/Kaori-Patcher/workflows/$WORKFLOW_FILENAME/$BRANCH/$ARTIFACT_NAME.zip"
          
          echo "Generated Link: $NIGHTLY_URL"
          
 
          ZIP_FILE="Module-framework-test.zip"
          
          if [ -f "$ZIP_FILE" ]; then
            echo "Sending to Telegram..."
            

            curl -v -F "chat_id=$CHAT_ID" \
            -F document=@"$ZIP_FILE" \
            -F parse_mode="HTML" \
            -F caption="✨ <b>Bootloop? Blame @Usagi79</b>" \
            https://api.telegram.org/bot$TELEGRAM_TOKEN/sendDocument
          else
            echo "❌ Không tìm thấy file zip module!"
          fi
          
